@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(0, 42, 97);
   font: normal 18px Arial;
}

header {
   color: whitesmoke;
   text-align: center;
   padding: 15px;
}

section {
   margin: auto;
   background-color: whitesmoke;
   border-radius: 15px;
   padding: 15px;
   width: 500px;
   box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.450);
}

footer {
   color: whitesmoke;
   text-align: center;
   font-style: italic;
   font: normal 14px Arial;
}

div {
   padding: 10px;
}

div#res {
   display: flex;
   flex-direction: column;
   align-items: center;
}

img {
   width: 250px;
   margin: 10px;
}

p {
   padding: 10px;
}